<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iman.sds.mapper.SensorMapper">
    <resultMap id="BaseResultMap" type="com.iman.sds.entity.SensorInfo">
        <id column="sensor_id" jdbcType="INTEGER" property="id" />
        <result column="sensor_address" jdbcType="VARCHAR" property="sensorAddress" />
        <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
        <result column="factory_address" jdbcType="VARCHAR" property="factoryAddress" />
    </resultMap>

    <select id="getSensorInfoList"  resultMap="BaseResultMap">
        SELECT s.id AS sensor_id,s.address AS sensor_address,s.factory_id,u.address AS factory_address  FROM sensor AS s
        LEFT JOIN user_info AS u ON s.factory_id = u.user_id
    </select>


</mapper>
