<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iman.sds.mapper.SensorMapper">
    <insert id="addSensorData2">
        insert into sensor_data(`sensor_id`,`create_time`,`ph`,`chroma`,`ss`,`bod5`,`cod`,`an`,`tn`,`tp`,`vp`,`toc`) values(#{sensorId},#{createTime},#{ph},#{chroma},#{ss},#{bod5},#{cod},#{an},#{tn},#{tp},#{vp},#{toc})
    </insert>

    <update id="addScoreData2">
        update score set `number`= `number` + #{num}
    </update>

    <insert id="addLogData2">
        insert into sc_description(`score_id`,`description`,`create_time`) values(#{scoreId},#{description},#{createTime})
    </insert>

    <select id="getSensorById2" resultType="com.iman.sds.entity.Sensor">
        select * from sensor where `id` = #{id}
    </select>

    <select id="getScoreById2" resultType="com.iman.sds.entity.Score">
        select * from score where `factory_id` = #{factoryId} and `sensor_id` = #{sensorId}
    </select>
    <resultMap id="BaseResultMap" type="com.iman.sds.entity.SensorInfo">
        <id column="sensor_id" jdbcType="INTEGER" property="id" />
        <result column="sensor_address" jdbcType="VARCHAR" property="sensorAddress" />
        <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
        <result column="factory_address" jdbcType="VARCHAR" property="factoryAddress" />
    </resultMap>

    <select id="getSensorInfoList"  resultMap="BaseResultMap">
        SELECT s.id AS sensor_id,s.address AS sensor_address,s.factory_id,u.address AS factory_address  FROM sensor AS s
        LEFT JOIN user_info AS u ON s.factory_id = u.user_id
    </select>

    <select id="getFacIdByFacName" resultType="java.lang.Long">
        select user_id from user_info where name = #{factoryName};
    </select>
    <select id="getSensorIdByFacId" resultType="com.iman.sds.entity.Sensor">
        select id,address from sensor where factory_id = #{factoryId};
    </select>
    <select id="getSensorIdBySenAddress" resultType="com.iman.sds.entity.Sensor">
        select id,address from sensor where address = #{address};
    </select>
    <select id="getAllSensor" resultType="com.iman.sds.entity.Sensor">
        select id,address from sensor;
    </select>
    <select id="getFacNameBySensorId">
        select user_info.name from sensor join user_info where user_info.user_id = sensor.factory_id where sensor.id = #{sensorId};
    </select>

</mapper>
