<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iman.sds.mapper.UserMapper">
    <select id="getUserByName" resultType="com.iman.sds.entity.User">
        select * from User where  name=#{userName}
    </select>

    <select id="getUserInfoByName2" resultType="com.iman.sds.entity.UserInfo">
        select * from user_info where name = #{name}
    </select>

    <!-- 查询用户的所有权限 -->
    <select id="queryAllPerms" resultType="string">
        select DISTINCT p.permission from permission p
        LEFT JOIN role_permission rm on rm.permission_id = p.id
        LEFT JOIN user_role ur on ur.role_id = rm.role_id
        where ur.user_id = #{userId}
    </select>

    <update id="updatePassword" parameterType="string">
        UPDATE user
        SET password = #{newPassword},salt = #{salt}
        WHERE name = #{username}
    </update>

    <insert id="addUser2">
        insert into user(name, password, salt) values(#{name},#{password},#{salt})
    </insert>


    <insert id="addUserInfo2">
        insert into user_info values(#{userId},#{name},#{address})
    </insert>

    <insert id="addUserRole2">
        insert into user_role(user_id, role_id) values(#{userId},#{roleId})
    </insert>

</mapper>